# Blocks
public net.minecraft.world.level.block.Blocks litBlockEmission(I)Ljava/util/function/ToIntFunction;
# CollectingNeighborUpdater$MultiNeighborUpdate
public net.minecraft.world.level.redstone.CollectingNeighborUpdater$MultiNeighborUpdate
# LootContextParamSets
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY
# RedstoneTorchBlock
public net.minecraft.world.level.block.RedstoneTorchBlock TOGGLE_DELAY
# RedstoneWireBlock
public net.minecraft.world.level.block.RedstoneWireBlock COLORS
public net.minecraft.world.level.block.RedstoneWireBlock shouldSignal
public net.minecraft.world.level.block.RedstoneWireBlock shouldConnectTo(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/Direction;)Z
# ServerboundPlayerActionPacket
public-f net.minecraft.network.protocol.game.ServerboundPlayerActionPacket direction
# SingleVariant
public net.minecraft.client.renderer.block.dispatch.SingleVariant model
