# Blocks
public net.minecraft.world.level.block.Blocks litBlockEmission(I)Ljava/util/function/ToIntFunction;
# CollectingNeighborUpdater$MultiNeighborUpdate
public net.minecraft.world.level.redstone.CollectingNeighborUpdater$MultiNeighborUpdate
# LootContextParamSets
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY
# RedstoneTorchBlock
public net.minecraft.world.level.block.RedstoneTorchBlock TOGGLE_DELAY
# RedStoneWireBlock
public net.minecraft.world.level.block.RedStoneWireBlock COLORS
public net.minecraft.world.level.block.RedStoneWireBlock shouldSignal
public net.minecraft.world.level.block.RedStoneWireBlock shouldConnectTo(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/Direction;)Z
# SingleVariant
public net.minecraft.client.renderer.block.dispatch.SingleVariant model
